/* Global Styles -------------------------------------------------- */

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
}

a {
    color: #4ECDC4;
    text-decoration: none;
}

a:hover,
.more a:hover {
    color: #1BBC9B;
    border-color: #1BBC9B;
}


/* Header Styles -------------------------------------------------- */

header {
    overflow: hidden;
    text-align: center;
    background: url("/images/montreal-landscape-bw.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}

header,
section,
footer {
    padding: 15px;
}

.logo {
    border-radius: 50%;
    margin: 30vh auto 0;
    display: block;
}

header h1 {
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding: 15px;
    display: inline-block;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
}

.more {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
}

.more a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 2em;
    font-weight: 200;
    height: 50px;
    line-height: 50px;
    width: 50px;
}


/* Intro Styles --------------------------------------------------- */

.intro {
    padding: 15px 30px;
    text-align: center;
    font-size: 2em;
}


/* Project Styles ------------------------------------------------- */

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.project {
    background-color: #1ba39c;
    height: 200px;
    flex: 1 1 30%;
    margin: 15px;
    position: relative;
}

.project a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#projects .project a:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    background-image: none;
}

.project a .desc {
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

#projects .project a:hover > .desc {
    text-shadow: none;
}

.project.p1 a {
    background: url('/images/p1.jpg') center center / cover no-repeat;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.project.p2 a {
    background: url('/images/p2.jpg') center center / cover no-repeat;
}

.project.p3 a {
    background: url('/images/p3.jpg') center center / cover no-repeat;
}

.project.p4 a {
    background: url('/images/p4.jpg') center center / cover no-repeat;
}


/* Footer Styles -------------------------------------------------- */

section.skyline {
    padding: 0px;
    width: 100%;
    margin: 45px auto -4px;
}

.skyline img {
    width: 100%;
}

footer {
    background-color: #1BA39C;
    color: #A2DED0;
    width: 100%;
    height: 100px;
    text-align: center;
}

.social {
    font-size: 1.5em;
}

.social a {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 4px;
    width: 40px;
}

.social a:hover {
    background-color: #C8F7C5;
}

.copyright {
    margin-top: 15px;
}