* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    text-align: center;
}
header, section, footer {
    padding: 15px;
}
        
header h1 {
    margin: 0px;
}    
        
.logo {
    border-radius: 50%;
    margin-right: 15px;
}
        
.intro {
    padding: 15px;
}
        
footer {
    background-color: #999;
}